.wrapper {
    width: 100%;
    height: 100%;
}

.task-list {
    position: absolute;
    width: 50%;
    height: 75%;
    left: 25%;
    top: 20%;

    /* display: flex;
    flex-direction: column; */
}

.task {
    margin: 10px;
}

.task.done {
    /* font-weight: normal; */
    text-decoration: line-through;
}

.task-content {
    display: flex;
    flex-direction: row;
}

.task-text {
    flex: 1;
}

.task-done {
    flex: 0.3;
}